 html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: -webkit-flex;
    display: flex;
    background-color: red;
    height: 100%;
}

.sidebar {
    background-color: lightgray;
    -webkit-flex: 1;
    flex: 1;
}

main {
    background-color: lightblue;
    padding: 10px;
    -webkit-flex: 5;
    flex: 5;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
