 /*html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}*/

.container {
    display: -webkit-flex;
    display: flex;
    background-color: red;
    height: 100%;
}

.sidebar {
    background-color: #F4F4F4;
    -webkit-flex: 1;
    flex: 1;

}

main {
    background-color: #FFFFFF;
    padding: 10px;
    -webkit-flex: 5;
    flex: 5;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 2px 6px;
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px;
}

/*li {
  color: red;
}*/

.square {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    width: 180px;
    height: 180px;
    border-radius: 3px;
    vertical-align: top;
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.cherrySquare {
  background-color: #e00000;
}

.rubySquare {
  background-color: #a51323;
}
.seaGlassSquare {
  background-color: #7fffd4;
}
.grassSquare {
  background-color: #42dc42;
}
.conrflowerSquare {
  background-color: #4083ae;
}
.navySquare {
  background-color: #0a3055;
}
.balletSlipperSquare {
  background-color: #ffa0e5;
}
.eggplantSquare {
  background-color: #550055;
}

.blackSquare {
  background-color: #000000;
}

.midnightSquare {
  background-color: #464646;
}

.manateeSquare {
  background-color: #888b8d;
}

.silverSquare {
  background-color: #bbbbbb;
}

.altoSquare {
  background-color: #dddddd;
}

.gallerySquare {
  background-color: #f4f4f4;
}

.alabasterSquare {
  background-color: #f7f7f7;
}

.whiteSquare {
  background-color: #ffffff;
}
